db.sqlite3*
/static/
/media/
/project_name/settings/local.py
*.pyc
__pycache__

node_modules
npm-debug.log
webpack-stats.json
# Ignore build files
/build/static/bundles
.manage_cmds_ran/
logs/

# heroku's recommendations
venv
staticfiles
.env

# pip install artifacts
src/
