.departure-board__header
  font-family: $serif
  margin-bottom: 0.5rem

.departure-board__table
  font-family: $sans-serif
  border-collapse: collapse
  background-color: black
  color: yellow
  th, td
    padding: 0.5rem
    &:first-child
      padding-left: 1rem
    &:last-child
      padding-right: 1rem
  tr
    &:hover, &:focus
      background-color: lighten(black, 10%)

